html {
  background: var(--color-background);
  background-image: radial-gradient(
      ellipse at top right,
      var(--color-background-gradient2),
      transparent
    ),
    linear-gradient(
      to bottom right,
      var(--color-background),
      var(--color-background-gradient1)
    );
  font-family: var(--font-text);
  font-size: var(--size-text);
  color: var(--color-text);
}

@keyframes appear {
  0%,
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

img {
  margin-bottom: 40px;
  animation: appear 0.7s;
}

img ~ * {
  animation: appear 1s;
}

p {
  margin-bottom: 20px;
  text-align: justify;
  line-height: 1.5;
  text-shadow: 1px 1px 0 var(--color-text-shadow);
}

footer {
  margin-top: 40px;
  color: var(--color-text-subtle);
}

@media (min-width: 600px) {
  html {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin: 10px;
    border: 1px solid var(--color-border);
    background-color: var(--color-foreground);
  }

  p {
    max-width: 50ch;
  }

  img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 599px) {
  body {
    margin: 20px;
  }

  img {
    display: block;
    margin: 0 auto 40px;
    width: 120px;
    height: 120px;
    filter: opacity(0.7);
  }

  p {
    line-height: 1.6;
    margin-bottom: 25px;
  }

  footer {
    text-align: center;
  }
}
